{% extends "index.html" %}

{% block title %}{{ super() }} | Home{% endblock %}

{% block body %}
{% include "/navigation.html" %}
<!-- introduction section -->
<div class="container-fluid p-0">
  <div class="row mt-5">
    <div class=col-lg-2></div>
    <div class="col-lg-4 my-auto">
      <H1>Tom Sharp</H1>
      <div class='ml-2'>Aspiring Data Scientist</div>
      <!-- <button type="button" class="btn btn-primary mt-1 ml-2">
        Projects <span class="badge badge-light"></span>
      </button> -->
    </div>
    <div class="col-lg-5">
      <img src="./static/img/me.jpg" class='img-fluid rounded'></img>
    </div>
    <div class=col-lg-1></div>
  </div>
</div>
<!-- end introduction section -->


<!-- skills section -->
<div class="container-fluid">
  <div class='row mt-5 mx-5 p-5'>

    <div class='col-lg-4'>
      <H3 class='text-center'>Development</H3>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class='col-lg-4'>
      <H3 class='text-center'>Analysis</H3>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class='col-lg-4'>
      <H3 class='text-center'>Machine Learning</H3>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <!-- <div class='col-lg-1'></div> -->

  </div>
</div>
<!-- skills section -->
<div class='row mx-auto'>
  <a href="https://github.com/tmsharp" class = "mt-2 mb-5 mx-auto">
    <button type="button" class="btn btn btn-outline-secondary">
      Github <span class="badge badge-light"></span>
    </button>
  </a>
</div>

{% endblock %}
