
<div style="font-size: larger;">
    I am currently working as a Data Scientist at Deloitte, which is where my passion
    for working with data and experience solving business problems converge. 
    Outside of work I love to travel and get a taste of different cultures. 
    In addition to working and traveling, I'm also pursuing my Masters in Analytics through Georgia Tech. 
    If you have a project in mind that you need help with, 
    or even if you'd just like to connect, please reach out!
</div>
