
<div style="font-size: larger;">
    I am currently working as a Data Scientist at Deloitte, which is where my passion
    for working with data and experience solving business problems converge. 
    Outside of work I love to travel and get a taste of different cultures. 
    In addition to working, I am also pursuing my Masters in Analytics through Georgia Tech. 
    <!-- Currently, I'm starting my own freelancing work through my network and websites like 
    <a href="https://www.upwork.com/o/profiles/users/~01bdf7d5d7f969dffc/" title="Tom's Upwork Profile" target="_blank">Upwork</a>
    and 
    <a href="https://www.fiverr.com/t_sharp?up_rollout=true" title="Tom's Fiverr Profile" target="_blank">Fiverr</a>.  -->
    If you have a project in mind that you need help with, 
    or even if you'd just like to connect, please reach out!
</div>