<!--contact section -->
<div>
    <div class="container-fluid p-0 text-white" style="background-color: black;">
        <div class="row border-bottom border-top m-0">
        <div class="mx-auto my-4">

            <H5 class="text-center">Let's Work Together</H5>
            
            <div class='row mx-auto'>
            <a href="mailto:tom.m.sharp12@gmail.com" class = "mx-auto">
                <button type="button" style="font-size: small" class="btn btn-outline-light">
                Contact Me <span class="badge badge-light"></span>
                </button>
            </a>
            </div>
        </div>
    </div>
</div> 
<!-- end contact section -->