<!--contact section -->
<div>
    <div class="container-fluid p-0">
        <div class="row border-bottom border-top m-0">
        <div class="mx-auto my-4">

            <H2 class="text-center">Contact Me</H2>
            
            <div class='row mx-auto'>
            <a href="mailto:tom.m.sharp12@gmail.com" class = "mx-auto">
                <button type="button" style="font-size: small" class="btn btn-outline-primary">
                Email: tom.m.sharp12@gmail.com <span class="badge badge-light"></span>
                </button>
            </a>
            </div>
        </div>
    </div>
</div> 
<!-- end contact section -->