<!--contact section -->
<footer id='footer'>
    <div class="container-fluid p-0 text-white" style="background-color: black;">
        <div class="row border-bottom border-top m-0">
        <div class="mx-auto my-4">

            <H5 class="text-center">Let's Work Together</H5>
            
            <div class='row mx-auto pt-3'>
            <a href="/contact" class = "mx-auto">
                <button type="button" style="font-size: small" class="btn btn-outline-light">
                    Contact Me <span class="badge badge-light"></span>
                </button>
            </a>
            </div>
        </div>
    </div>
</div>
    <div class="container-fluid p-0">
        <div class="row mx-auto my-3">
            <div class="tagline">
            T.M. Sharp
            </div>
        </div>
    </div> 
</footer> 
<!-- end contact section -->